<% if @topic.destroyed? %>
  $('#topic-' +<%= @topic.id %>).fadeOut("slow");
<% else %>
  $('#topic-' +<%= @topic.id %>).prepend("<div class='alert alert-danger'><%=flash[:error] %></div>");
<% end %>
