<% if @topic.destroyed? %>
  $('#topics-' +<%= @topics.id %>).fadeOut("slow");
<% else %>
  $('#topics-' +<%= @topics.id %>).prepend("<div class='alert alert-danger'><%=flash[:error] %></div>");
<% end %>
