
<div class="container">
  <h1>Topics</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if policy(Topic.new).create? %>
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-sm' %>
      <% end %>
    </div>
  </div>

  <% @topics.each do |topic| %>
    <!-- wrap everyting inside the do in a row -->
    <div class="row">
    <h4>
      <%= link_to topic.title, topic %>
    </h4>
    <div class="bookmarks">
      <%= will_paginate @topics %>
      <%= render topic.bookmarks %>
    </div>
  </div>
  <% end %>
</div>
</div>
