
<div class="container">
  <h1>Topics</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if policy(Topic.new).create? %>
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-sm' %>
      <% end %>
    </div>
  </div>

  <% @topics.each do |topic| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to topic.title, topic %>


        </h4>
      </div>
    </div>
  <% end %>
</div>
</div>
