
<div class="container">

<h1>Topics</h1>
<div class="row">
  <div class="col-md-4">
    <% if policy(Topic.new).create? %>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

<% @topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to topic.title, topic %>
      </h4>
      <small>
          <% if policy(topic).destroy? %>
          <%= link_to "Delete Topic", [topic], method: :delete, class: 'btn btn-default btn-sm', data: { confirm: 'Are you sure you want to delete this topic?' } %> 
          <% end %>
        </small>
    </div>
  </div>
<% end %>
</div>
