<div class="container-fluid">
  <h3><%= @topic.title %></h3>
</div>

<div class="container-fluid">
  <div class="row top-buffer">
    <% @topic.bookmarks.each do |bookmark| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="" alt="...">
          <h4><%= link_to bookmark.url, bookmark.url %></h4>

          <div class="caption">
            <p><h4>Visit this Link</h4></p>

          <ul class="list-inline">
            <% if policy(bookmark).destroy? %>
              <li>
                <a><%= link_to "Delete", [@topic, bookmark], method: :delete, class: "btn btn-primary" %></a> 
              </li>
            <% end %>
            </ul>
      
     <%= render partial: 'likes/like', locals:{ bookmark: bookmark } %>

        
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
    

