<div class="container">
  <h1>My Saved Bookmarks</h1>
</div>
<div>
  <%= will_paginate @bookmarks %>
  <%= render current_user.bookmarks %>
 </div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>