<%= render current_user.bookmarks %>

<%= render current_user.liked_bookmarks %>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<!-- this is an n + 1 (BAD BAD BAD BAD)
<%# @liked_bookmarks.each do |like| %>
  <%# render like.bookmark %>
<%# end %> -->