

  <%= render 'users/liked' %>  
  <!-- locals: {bookmark: bookmark} -->

  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


  <%= render 'users/saved' %>


  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

 


<!-- this is an n + 1 (BAD BAD BAD BAD)
<%# @liked_bookmarks.each do |like| %>
  <%# render like.bookmark %>
<%# end %> -->