<div>
  <div class="container-fluid well align-center">
    <h1>Blocmarks</h1>
    <p>Created in Bloc.io apprenticeship with mentor assistance</p>  
    <p>Special thank you to <a href="https://www.url2png.com/">URL2PNG</a> for use of their screenshot API</p>
  </div>
</div>
<div>
  <div class="container-fluid well align-center">
    <h4> Teri Pastorino - Web Developer</h4>
    <h5>Contact me at: <a href="mailto:tpasto@comcast.net">tpasto@comcast.net </a></h5>
  </div>

  
<div class="container-fluid well align-center">
  <% if current_user %>
  <h5> Email a Topic and Bookmark</h5>
    <h5><a href="mailto:postmaster@app8411dce69fad4aafbb309aed11b02d90.mailgun.org">Create Bookmark</a></h5>
  <% end %>
  </div>

</div>


