<div>
  <div class="container-fluid well align-center">
    <h1>Blocmarks</h1>
    <p>Created in Bloc.io apprenticeship with mentor assistance</p>  
    <p>Special thank you to <a href="https://www.url2png.com/">URL2PNG</a> for use of their screenshot API</p>
  </div>
</div>
<div>
  <div class="container-fluid well align-center">
    <h4> Teri Pastorino - Web Developer</h4>
    <h4>Contact me at: <a href="mailto:tpasto@comcast.net">tpasto@comcast.net </a></h4>
  </div>

  <div class="container-fluid well align-center">
    <h4> Teri Pastorino - Web Developer</h4>
    <h4>Contact me at: <a href="mailto:tpasto@comcast.net">tpasto@comcast.net </a></h4>
  </div>
  
</div>


