
<div class="container">
  <div class="jumbotron">
    <h1>Blocmarks</h1>
    <p>Keep Track, Organize and Share your Favorite Bookmarks</p>

    <a class="btn btn-primary btn-lg", href="/topics/new" >Get Started</a>


    <a class="btn btn-primary btn-lg", href="/bookmarks/" >See My Favorites</a>
    <a class="btn btn-primary btn-lg", href="/bookmarks/">See Friends Favorites</a>

     </div>

  </div>

</div>

