<div class="container">
  <div class="jumbotron">
    <h1>Blocmarks</h1>
    <p>Keep Track, Organize and Share your Favorite Bookmarks</p>
    <a class="btn btn-primary btn-lg">Get Started</a>
    <a class="btn btn-primary btn-lg">See My Favorites</a>
    <a class="btn btn-primary btn-lg">See Friends Favorites</a>



  </div>
</div>